body { font-family: sans-serif; margin:0px; padding:0px; }
div { margin:0px; padding:0px; }
form#room { position:fixed; z-index: 100; top:0px; background-color:white; border-bottom:1px solid grey; width:100%; padding:5px; }
form#room p { padding:5px; margin:0px; }
form#room input[type=text] { width:100%; }
#history { padding: 0 0 2em 0; }
blockquote.me { text-align: right; }
blockquote footer { font-style: italic; color: grey; margin-left:1em; font-size:0.8em; }
form#chatroom { position:fixed; z-index: 100; bottom:0px; background-color:white; border-top:1px solid grey; width:100%; padding:5px; }
form#chatroom p { padding:5px; margin:0px; }
form#chatroom input[type=text] { width:100%; }
#content { visibility: hidden; }